################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleWebApplication/v17
/.vs/SampleWebApplication
/SampleWebApplication/.vs
/SampleWebApplication/obj
/SampleWebApplication/bin/Debug/net7.0
/SampleWeb.Business/bin/Debug/netstandard2.0
/SampleWeb.Business/obj
/SampleWeb.BusinessTests/bin/Debug/net7.0
/SampleWeb.BusinessTests/obj
/.vs/ProjectEvaluation
/SampleWeb.BusinessTests/TestResults
/SampleWeb.UtilsTests/obj
/SampleWeb.UtilsTests/bin/Debug/net7.0
/SampleWeb.UtilsTests/TestResults
*.html
