@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome</h1>

<div>
    <p>
        Sample project to poc github actions.
        <br />
        Update 17/11/2023:
        <ol>
            <li>Use Github Actions with CD tool OctopusDeploy</li>
            <li>Use Github Actions CI and CD + Self-hosted Runners (Setup development laptop as a runner server)</li>
        </ol>
    </p>
</div>

<p>
    Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
</p>