name: ci-develop-dockerhub

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build-test-push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
 
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
 
    - name: Restore dependencies
      run: dotnet restore
  
    - name: Test in Debug configuration
      run: dotnet test --no-restore -c Debug --verbosity normal
 
    - name: "Set current date as env variable"
      run: |
          echo "buildyear=$(date +'%Y')" >> $GITHUB_ENV
          echo "builddate=$(date +'%m%d%H%M')" >> $GITHUB_ENV
          
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
          
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
       
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_REPO }}:samplewebapplication-develop-latest, ${{ secrets.DOCKERHUB_REPO }}:samplewebapplication-develop-${{ env.buildyear }}-${{ env.builddate }}
