name: POC - Checkout Other Repo
on:
  workflow_dispatch:
jobs:  
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          repository: 'vndevpro/architecture-common'
          token: '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'
      
